/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/coverage
/spec/internal/db/combustion_test.sqlite
/spec/internal/log/*
*.gem
.gemrc
.rspec_status
Gemfile.lock
gemfiles/*.gemfile.lock
.DS_Store
.ruby-version
